@use "variables" as v;

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body{
    font-size: 62.5%;
    font-family: v.$font;
}
p, a, span, input{
    font-size: 2rem;
}
a{
    text-decoration: none;
}
@for $i from 1 through 6{
    h#{$i}{
        margin : 0;
        padding: 0;
        font-size: 4.5rem - calc($i / 2);
        font-family: v.$fontTitle;
    }
}